<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileA">

        <!-- ★起動画面：ログイン画面 -->
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 新規登録画面 -->
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />

        <!-- ホーム画面 -->
        <activity
            android:name=".Home"
            android:exported="false" />

        <!-- アカウント画面 -->
        <activity
            android:name=".Account"
            android:exported="false" />

        <!-- 投稿画面 -->
        <activity
            android:name=".PostActivity"
            android:exported="false" />

        <!-- ツイート画面 -->
        <activity
            android:name=".TweetActivity"
            android:exported="false" />
    </application>
</manifest>